<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>guest_username</param-name>
        <param-value>guest</param-value>
    </context-param>
    <context-param>
        <param-name>admin_role_id</param-name>
        <param-value>3</param-value>
    </context-param>
    <filter>
        <filter-name>RememberUserFilter</filter-name>
        <filter-class>org.inf.uth.eydokia.filters.RememberUserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RememberUserFilter</filter-name>
        <servlet-name>LoginServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>RememberUserFilter</filter-name>
        <servlet-name>RegisterServlet</servlet-name>
    </filter-mapping>
    <listener>
        <listener-class>org.inf.uth.eydokia.listeners.SessionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>org.inf.uth.eydokia.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>org.inf.uth.eydokia.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>org.inf.uth.eydokia.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalendarServlet</servlet-name>
        <servlet-class>org.inf.uth.eydokia.servlets.CalendarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>org.inf.uth.eydokia.servlets.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookRoomServlet</servlet-name>
        <servlet-class>org.inf.uth.eydokia.servlets.BookRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModerateServlet</servlet-name>
        <servlet-class>org.inf.uth.eydokia.servlets.ModerateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalendarServlet</servlet-name>
        <url-pattern>/calendar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookRoomServlet</servlet-name>
        <url-pattern>/book_room</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModerateServlet</servlet-name>
        <url-pattern>/moderate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
        <url-pattern>/change_password</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>welcome.jsp</welcome-file>
    </welcome-file-list>
</web-app>
